.container {
    display: flex;
}

.column {
    flex: 1;
    padding: 0 10px;
}

/* Estilo para cada item da lista */
.list-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.list-item img {
    max-width: 100%;
    height: auto;
}
